@charset "UTF-8";
@import "compass";
@import "utilities";

/* 
# Base
*/

/* 
# Layout
*/

/* 
# Module
 */
.fontIcon:before {
    line-height: 1;
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
.fontIconHome:before {
    content: "\e900";
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    border: 1px solid #000;
    padding: 5px 10px;
    text-align: center;
    line-height: 1;
    background-color: #fff;
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    @include box-sizing(border-box);
}
.btnShot {
    width: 200px;
}
.btnLong {
    width: 300px;
}
.btnFull {
    width: 100%;
}
.btnForm {
    margin-left: 0;
    margin-right: 0;
    width: 200px;
}
.btnMore {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    width: 120px;
    font-size: 1.4rem;
    margin: auto;
}
/* State */
/* Theme */
